body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:638px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:402px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:137px;
  width:384px;
  height:402px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:193px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:29px;
  width:193px;
  height:74px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:201px;
  width:332px;
  height:33px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:33px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:169px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:291px;
  width:332px;
  height:33px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:33px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:259px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:387px;
  width:194px;
  height:33px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:33px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:355px;
  width:55px;
  height:22px;
  font-size:18px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:387px;
  width:128px;
  height:33px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:457px;
  width:332px;
  height:40px;
  font-size:18px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  word-wrap:break-word;
}
